html, body {
  height: 100%; /* Full height of the viewport */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Stack header, main, and footer vertically */
}

/* Flexbox layout for the body container */
.body {
  display: flex;
  flex-direction: column;
}

header {
  height: 60px; /* Set the desired height for your header */
  background-color: #36cebe;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Optional padding */
}

main {
  flex: 1;  /* This ensures it takes up all available space */
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center content if needed */
  padding: 1rem;
  background: #f4f4f4;  /* Example background color */
  flex-direction: column; /* Stack child elements vertically */
}

.container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align content to the top */
  padding: 0;
  margin: 0;
}

/* Footer should always stick to the bottom of the screen */
footer {
  flex-shrink: 0;  /* Prevent footer from shrinking */
  width: 100%;
  height: 2em;  /* Adjust footer height */
  background-color: #36cebe;  /* Example footer background */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;  /* Center text inside the footer */
}

/* Styling for menu items */
menu {
  flex: 1;
  display: flex;
  flex-direction: row !important;
  list-style: none;
}

nav {
  background: #36cebe;
}

.navbar-brand {
  padding-left: 0.3em;
  border-bottom: solid rgb(251, 204, 76) thin;
}

menu .nav-item {
  padding: 0 0.3em;
}

footer a {
  color: white;
  text-decoration: none;
}

#myTitle {
  padding: 0.5em;
  border-bottom: solid rgb(251, 204, 76) thin;
}

#myDiv {
  background: #c9f0ed;
  color: #1e939a;
  padding: 1.5em;
  border: 3px solid #36cebe;
  width: 80%; /* Control width here */
  margin-top: 1rem;  /* Space from top */
  margin-bottom: 1rem; /* Space from bottom */
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
    display: inline-block; /* Make sure buttons are inline-block for margin to work */
    margin-right: 10px;
}

#myForm {
  border: transparent;
  background: transparent;
  padding: 0.5em;
  margin: 0.5em;
  width: 350px;
}

.circle {
  background: #1e939a;
  border-radius: 50%;
  border: 3px solid #36cebe;
  width: 100px;
  height: 300px;
  position: absolute;
  top: -65px;
  left: -180px;
  z-index: 0;
}

/* Media Query Adjustments */
@media (max-height: 375px) {
  header {
    display: none; 
  }
  footer {
    display: none; 
  }
  main {
    flex: 1; 
  }
  #myDiv {
    top: 0; 
  }
}
